.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &-list {
    &__item {
      line-height: 19px;
      @media (max-width: 320px) {
        line-height: 17px;
      }
    }

    &__item a {
      color: $text-color;
      transition: opacity 0.1s ease-in;

      &:hover {
        opacity: 0.8;
      }
    }

    &__item + &__item {
      margin-top: 10px;
    }
    @media (max-width: 320px) {
      font-size: 14px;
      line-height: 17px;
    }
  }
}
